.landing-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: max-content;
    margin: 0;
    margin-top: 8%;
}

img {
    width: 550px;
    margin-right: 10%;
    margin-left: 5%;
}

.text-div {
    width: 50%;
    font-family: "League Spartan", sans-serif;
    text-align: center;
    color: #ff3131;
}

.text-div h1 {
    font-size: 2.2em;
    font-weight: 700;
}

p {
    margin-bottom: 0;
    font-size: 2em;
}

.btn-box {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    font-family: "Nunito", sans-serif;
    border: 0;
    font-size: 1.8em;
    padding: 0.5em;
    width: 250px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: 0.9s;
    background-color: #ff3131;
    color: white;
    font-weight: 800;
}

button:hover {
    background-color: white;
    color: #ff3131;
}

@media (max-width: 1350px) {
    .landing-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        margin: 0;
    }
}
