<div *ngIf="post != undefined" class="post">
    <app-vote-button class="likes" />
    <div class="post-content">

        <div class="group-box">
            <div>
                <p>r/{{ post.group }}</p>
                <div class="title">
                    {{ post.title }}
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="author">
                {{ post.author }}
                <div class="date">
                    {{ post.postDate.toLocaleString() }}
                </div>
            </div>
        </div>
    </div>
</div>
