.post {
    padding: 10px;
    padding-left: 1.2em;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 15px;

    margin-bottom: 25px;
    cursor: pointer;

    transition: 0.5s;
}

.post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.post:hover {
    border: 1px solid var(--main-green);
}

.post:hover .title {
    color: black;
}

.likes {
    width: 3%;
    margin: 0 2em 0 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    font-size: 1.2em;
    font-family: "Nunito", sans-serif;
}

i {
    font-size: 1.5em;
}

i:hover {
    color: var(--main-green);
}

.group-box {
    font-size: 1.2em;
    color: gray;
    justify-self: flex-start;
}

p {
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;
}

.author:hover {
    color: var(--light-green);
}

.date {
    width: auto;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.541);
    font-size: 0.8em;
}

.content-box {
    margin-right: 1.5em;
    display: flex;
}

.user-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-end;
    gap: 0.75em;
}

.user-wrap img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}


.delete button {
    font-size: 10px;
}

.delete i:hover {
    color: white;
}