<div *ngIf="post != undefined" class="post">
    <app-vote-button 
        class="likes" 
        [disabled]="false" 
        (OnUpvote)="like()" 
        (OnDownvote)="dislike()" 
        [upActive]="false"
        [downActive]="false"
        />
    <div class="post-content" routerLink="{{ postLink() }}">
        <div class="group-box">
            <div>
                <p *ngIf="displayGroup" >r/{{ post.groupName }}</p>
                <div class="title">
                    {{ post.title }}
                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="user-wrap">
                <img src="{{ imgUrl() }}" />
                <div class="author">
                    {{ post.authorName }}
                    <div class="date">
                        {{ post.postDate.toLocaleString() }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
