<div class="role-manager">
    <h1 class="title">Cargos</h1>
    <hr />
    <div class="header-wrap">
        <h4>Lista de cargos</h4>
        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#create-modal">
            Novo cargo +
        </button>
    </div>

    <table class="table table-bordered border border-1">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Deletar Posts</th>
                <th scope="col">Editar Posts</th>
                <th scope="col">Promover Membros</th>
                <th scope="col">Gerenciar Cargos</th>
                <th scope="col">Banir Membros</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of roleList">
                <td>{{ role.name }}</td>
                <td>
                    <i *ngIf="hasPermission(role, 2)" class="fa-solid fa-check"></i>
                    <i *ngIf="!hasPermission(role, 2)" class="fa-solid fa-xmark"></i>
                </td>
                <td>
                    <i *ngIf="hasPermission(role, 3)" class="fa-solid fa-check"></i>
                    <i *ngIf="!hasPermission(role, 3)" class="fa-solid fa-xmark"></i>
                </td>
                <td>
                    <i *ngIf="hasPermission(role, 4)" class="fa-solid fa-check"></i>
                    <i *ngIf="!hasPermission(role, 4)" class="fa-solid fa-xmark"></i>
                </td>
                <td>
                    <i *ngIf="hasPermission(role, 5)" class="fa-solid fa-check"></i>
                    <i *ngIf="!hasPermission(role, 5)" class="fa-solid fa-xmark"></i>
                </td>
                <td>
                    <i *ngIf="hasPermission(role, 6)" class="fa-solid fa-check"></i>
                    <i *ngIf="!hasPermission(role, 6)" class="fa-solid fa-xmark"></i>
                </td>
                <button *ngIf="role.name !== 'Admin' && role.name !== 'Membro'" (click)="startEdit(role)" class="edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#edit-modal">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </tr>
        </tbody>
    </table>
</div>


<app-create-role [groupId]="groupId" (OnCreate)="refreshRoles()" />
<app-edit-role [editRole]="editRole" />