<form>
    <div class="title text-center mb-2" style="color: var(--main-green)">
        Cadastro
    </div>
    <!-- <app-uploader
        class="d-flex justify-content-center"
        (onUploadFinished)="onUpload($event)"
    /> -->
    <div class="form-floating" id="nickname-input">
        <input
            [(ngModel)]="userReg.username"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            type="nickname"
            id="nickname"
            placeholder="Your Nickname"
        />
        <label for="nickname">Seu Apelido</label>
    </div>
    <div class="form-floating">
        <input
            [(ngModel)]="userReg.email"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            type="email"
            id="emailInput"
            placeholder="your.email@example.com"
        />
        <label for="emailInput">Seu Email</label>
    </div>
    <div class="form-floating">
        <input
            [(ngModel)]="userReg.password"
            [ngModelOptions]="{ standalone: true }"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
        />
        <label for="password">Senha</label>
    </div>
    <div class="form-floating">
        <input
            [(ngModel)]="userReg.birthdate"
            [ngModelOptions]="{ standalone: true }"
            type="date"
            class="form-control"
            id="date"
            placeholder="01-01-2001"
        />
        <label for="date">Data de nascimento</label>
    </div>
    <button class="mt-3 w-100 btn btn-lg btn-danger" (click)="onRegister()">
        Cadastrar
    </button>
    <div class="text-center mt-2">
        Já possui uma conta ?
        <span routerLink="/sign/up">Clique aqui!</span>
    </div>
</form>
