<div class="card">
    <div class="card-body">
        <h5 class="card-title">Titulo</h5>
        <h6 class="card-subtitle mb-2 text-muted">Autor - Horario</h6>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
            dolorum neque obcaecati amet perspiciatis eius quam numquam, odit
            incidunt pariatur quod earum libero fugit? Doloribus veniam impedit
            dignissimos perspiciatis error.
        </p>
        <button class="card-link">
            <i class="fa-regular fa-thumbs-up"></i>
        </button>
        <button class="card-link">
            <i class="fa-regular fa-comment"></i>
        </button>
    </div>
</div>
