.card {
    width: inherit;
}

.card-body {
    display: flex;
    flex-direction: column;
}

img {
    justify-self: center;
    margin: 0 auto;
    max-width: 400px;
    max-height: 400px;
}

.likes {
    width: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    font-size: 1.2em;
    font-family: "Nunito", sans-serif;
}

.likes p {
    margin: 0;
}

.buttons {
    display: flex;
    gap: 2em;
    align-items: center;
}

.fa-comment {
    color: gray;
    font-size: 2em;
}
