<div class="post-page">
    <div class="post-card">
        <div class="post-body">
            <div class="user-wrap">
                <img class="user-avatar" src="{{ getUserAvatar() }}" />
                <div>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.authorName}} -
                        {{post.postDate.toLocaleString("pt-BR")}}</h6>
                </div>
            </div>
            <hr>
            <p>
                {{ post.content }}
            </p>
            <img class="indexed" *ngIf="post.indexedImg != 0" src="{{ getIndexedImg() }}" />
            <div class="buttons">
                <div class="likes">
                    <app-vote-button class="likes" (OnUpvote)="like()" (OnDownvote)="dislike()" [upActive]="upVoted"
                        [downActive]="downVoted" [votes]="post.likeCount" />                        
                </div>
            </div>
        </div>
    </div>

</div>