<div class="post-page">
    <div class="post-card">
        <div class="post-body">
            <div class="user-wrap">
                <img class="user-avatar" src="{{ getUserAvatar() }}" />
                <div>
                    <h5 class="card-title">{{ postData.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{postData.authorName}} -
                        {{postData.postDate.toLocaleString("pt-BR")}}</h6>
                </div>
            </div>
            <hr>
            <p>
                {{ postData.content }}
            </p>
            <img class="indexed" *ngIf="postData.indexedImg != 0" src="{{ getIndexedImg() }}" />
            <div class="buttons">
                <div class="likes">
                    <i class="upvote fa-solid fa-angle-up"></i>
                    <p>{{postData.likeCount}} </p>
                    <i class="downvote fa-solid fa-angle-down"></i>
                </div>
                <div></div>
                <i class="fa-regular fa-comment"></i>
            </div>
            <!-- <button class="card-link">
                <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <button class="card-link">
                <i class="fa-regular fa-comment"></i>
            </button> -->
        </div>
    </div>

</div>