.post-page {
    overflow-y: auto;
    max-height: 580px;
    border: 1px solid var(--white-green);
    border-inline: 0;
    border-radius: 10px;
}

.post-card {
    width: inherit;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.post-body {
    display: flex;
    flex-direction: column;
}

.indexed {
    justify-self: center;
    margin: 0 auto;
    max-width: 1000px;
    max-height: 350px;
}

.user-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

.user-wrap img {
    width: 75px;
    height: 75px;
}

.likes {
    width: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    font-size: 1.1em;
    font-family: "Nunito", sans-serif;
}

.likes p {
    margin: 0;
}

.buttons {
    display: flex;
    gap: 2em;
    align-items: center;
}

.fa-comment {
    color: gray;
    font-size: 2em;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-green);
    border-radius: 10px;
}
