<div class="group">
    <div class="header">
        <div class="title-wrap">
            <div>
                <img src="{{ imgUrl() }}" />
            </div>
            <div>
                <div class="title" style="color: var(--main-green)">
                    {{ group.name }}
                </div>
                <div class="subtitle" style="color: var(--light-green)">
                    {{ group.description }}
                </div>
            </div>
        </div>
        <div class="user-card">
            <app-user-card [isGroup]="true" [roleName]="group.userRole" />
        </div>
    </div>
    <br />
    <div class="separator">
        <div class="content">
            <router-outlet />
        </div>
        <!-- <div class="post-tab">
            <app-post-tab />
        </div> -->
    </div>
    <div class="button-wrap">
        <div *ngIf="onFeed">
            <button class="btn btn-outline-danger" routerLink="post-creator">
                Criar postagem
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
        <div *ngIf="!onFeed">
            <button class="btn btn-outline-dark" routerLink="feed">
                <i class="fa-solid fa-arrow-left"></i>
                Voltar para o feed
            </button>
        </div>
        <div *ngIf="onFeed">
            <button class="btn btn-outline-warning" routerLink="role-manager">
                Cargos
                <i class="fa-solid fa-hammer"></i>
            </button>
        </div>
        <div *ngIf="onFeed">
            <button class="btn btn-outline-primary" routerLink="member-list">
                Membros
                <i class="fa-solid fa-users"></i>
            </button>
        </div>
    </div>
</div>
