<div class="group">
    <div class="header">
        <div class="title-wrap">
            <div>
                <img src={{imgUrl()}}>
            </div>
            <div>
                <div class="title" style="color: var(--main-green)">
                    {{ group.name }}
                </div>
                <div class="subtitle" style="color: var(--light-green)">
                    {{ group.description }}
                </div>
            </div>
        </div>
        <div class="card">
            <app-user-card />
        </div>
    </div>
    <br />
    <div class="separator">
        <div class="content">
            <router-outlet />
        </div>
        <div class="post-tab">
            <app-post-tab />
        </div>
    </div>
    <div>
        <div *ngIf="onFeed">
            <button  class="btn btn-danger" routerLink="post-creator">Criar postagem</button>
        </div>
        <div *ngIf="onCreator">
            <button class="btn btn-success" routerLink="feed">Voltar para o feed</button>
        </div>
    </div>
</div>