nav {
    background-color: var(--main-green);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4em;
    height: 10%;
    box-shadow: 0px 5px 10px lightgray;
}

.brand {
    font-size: 3em;
}

.profile {
    display: flex;
    gap: 1em;
    align-items: center;
}

.circle-pic {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
