/* .likes {
    width: 3%;
    margin: 0 2em 0 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    font-size: 1.2em;
    font-family: "Nunito", sans-serif;
} */


i {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

i:hover {
    color: var(--main-green);
}

p {
    text-align: center;
    margin: 0;
}


.disabled i:hover {
    color: gray;
}

.active {
    color: var(--main-green);
}

.normal {
    color: gray;
}