.avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-inline: 5px;

    padding: 5px 25px;
    border: 1px solid var(--main-green);
    box-shadow: -4px 4px 0 var(--light-green);
}

.name-wrap {
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    justify-content: center;
    margin: 0;
}

.name-wrap p {
    margin-bottom: 0;
}

.button-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.button-wrap i {
    margin-top: 0.5em;
    color: var(--light-green);
    cursor: pointer;
    font-size: 1.3em;
}

.button-wrap a {
    padding: 0;
    margin: 0;
}

.username {
    font-size: 1.3rem;
    color: var(--main-green);
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}
