<div class="user-profile">
    <div class="name-wrap">
        <p class="username">{{ userName }}</p>
        <p class="role">Membro</p>
        <div class="button-wrap">
            <a>
                <i
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Configurações"
                    class="fa-solid fa-gear"
                ></i>
            </a>
            <a
                href="/"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Sair"
                (click)="logoff()"
            >
                <i class="fa-solid fa-door-open"></i>
            </a>
        </div>
    </div>
    <img class="avatar" src="{{ profilePic() }}" />
</div>
