a {
    text-decoration: none;
    color: black;
}

.group-list {
    height: inherit;
}

.group-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.group-box:first-child {
    border-radius: 15px 15px 0 0;
}

.group-box:last-child {
    border-bottom: 0;
    border-radius: 0 0 15px 15px;
}

.group-box:only-child {
    border-radius: 15px;
}

.group-box:hover {
    background-color: var(--main-green);
    color: white;
}

.group-box:hover i {
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 15px;
    height: 100%;
}

.box {
    border: 1px solid black;
    border-radius: 50%;
}

span:hover {
    text-decoration: underline;
    color: var(--light-green);
    cursor: pointer;
}


.button {
    justify-self: end;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
    
    background-color: var(--main-green);
    
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
}

.button:hover {
    background-color: white;
    color: var(--main-green);
} 

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;

    border: 1px solid lightgray;


    padding: 5px;

    border-top: 0;
}

.collapse-retangular, .botton-retangular
{
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.collapse-retangular button {
    width: 100%;
    border: 0;
}

.collapse-retangular {
    border-radius: 15px 15px 0 0;
}

.botton-retangular {
    border-radius: 0 0 15px 15px;
    border-top: 0;
}

.botton-retangular i {
    color: gray;
    width: 100%;
    text-align: center;
}
