<div class="group-list">
    <div class="subtitle">Seus grupos</div>
    <hr />
    <div class="list">
        <a
            href="group/{{ group.name }}/feed"
            *ngFor="let group of groupList"
            class="group-box"
        >
            r/{{ group.name }}
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </div>
    <div *ngIf="groupList?.length == 0">
        Faça partes de novas comunidades!
        <span routerLink="/group-creator">Ou crie o seu próprio grupo :D</span>
    </div>
    <div class="btn-wrap">
        <button class="btn btn-outline btn-secondary">
            Gerenciar meus grupos
            <i class="fa-solid fa-people-roof"></i>
        </button>
        <button routerLink="/group-creator" class="btn btn-dark">
            Criar um novo grupo
            <i class="fa-solid fa-circle-plus"></i>
        </button>
    </div>

</div>
    