<div *ngIf="isLogin; else elseBlock">
    <form>
        <div class="title text-center mb-2" style="color: var(--main-green)">
            Login
        </div>
        <div class="form-floating">
            <input
                type="email"
                class="form-control"
                id="emailInput"
                placeholder="your.email@example.com"
                [(ngModel)]="userLogin.email"
                [ngModelOptions]="{standalone: true}"
            />
            <label for="emailInput">Seu Email</label>
        </div>
        <div class="form-floating">
            <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                [(ngModel)]="userLogin.password"
                [ngModelOptions]="{standalone: true}"
            />
            <label for="floatingPassword">Sua Senha</label>
        </div>
        <button class="mt-3 w-100 btn btn-lg btn-success" (click)="onLogin()">Entrar</button>
        <div class="text-center mt-2">
            Não possui uma conta ?
            <span (click)="switchSign()">Junte-se a nós hoje mesmo!</span>
        </div>
    </form>

    <div class="error-message" *ngIf="displayError">{{errorMessage}}</div>
</div>

<ng-template #elseBlock>
    <form>
        <div class="title text-center mb-2" style="color: var(--main-green)">
            Cadastro
        </div>
        <div class="form-floating">
            <input
                [(ngModel)]="userReg.username"
                [ngModelOptions]="{standalone: true}"
                class="form-control"
                type="nickname"
                id="nickname"
                placeholder="Your Nickname"
            />
            <label for="nickname">Seu Apelido</label>
        </div>
        <div class="form-floating">
            <input
                [(ngModel)]="userReg.email"
                [ngModelOptions]="{standalone: true}"
                class="form-control"
                type="email"
                id="emailInput"
                placeholder="your.email@example.com"
            />
            <label for="emailInput">Seu Email</label>
        </div>
        <div class="form-floating">
            <input
                [(ngModel)]="userReg.password"
                [ngModelOptions]="{standalone: true}"
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
            />
            <label for="floatingPassword">Senha</label>
        </div>
        <div class="form-floating">
            <input
                [(ngModel)]="userReg.birthdate"
                [ngModelOptions]="{standalone: true}"
                type="date"
                class="form-control"
                id="floatingDate"
                placeholder="01-01-2001"
            />
            <label for="floatingDate">Data de nascimento</label>
        </div>
        <app-uploader />
        <button
            class="mt-3 w-100 btn btn-lg btn-success"
            (click)="onRegister()"
        >
            Cadastrar
        </button>
        <div class="text-center mt-2">
            Já possui uma conta ?
            <span (click)="switchSign()">Clique aqui!</span>
        </div>
    </form>
</ng-template>
