h1 {
    color: var(--light-green);
}

li {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.list-group {
    width: 50%;
}

.list-group:first-child {
    border-radius: 25px 25px 0 0;
}
