<div class="member-list">
    <h1 class="title">Lista de membros</h1>
    <hr />
    <div>
        <table class="table table-bordered w-50">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Cargo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of memberList">
                    <td>{{ member.name }}</td>
                    <td>{{ member.role }}</td>
                    <td *ngIf="member.role !== 'Admin' && hasPermission(4)">
                        <button (click)="startEdit(member)" class="btn btn-outline-dark" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td> 
                    <td *ngIf="member.role !== 'Admin' && hasPermission(6)">
                        <button (click)="removeMember(member)" class="btn btn-outline-danger">
                            <i class="fa-solid fa-user-slash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-edit-member [editMember]="editMember" [groupId]="groupId" />